/**
 * simple-image-slider\src\libs\assets\css\styles.css
 * @author <ericwaidesign@gmail.com>
 */

.simpleImageSlider-image {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
}

.simpleImageSlider-opacity-0 {
  opacity: 0;
}

.simpleImageSlider-opacity_1 {
  opacity: 1;
}